
.presentationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
}
.presentationTitle {
    padding: 1rem 0;
    text-align: center;
}
.presentationPatapouf {
    width: 50%;
    height: auto;
    max-width: 512px;
}
.presentationTexte {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presentationTexteCenter {
    text-align: justify;
    line-height: 1.5rem;
}
