
.presentation__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
}
.presentation--title {
    padding: 1rem 0;
    text-align: center;
}
.presentation__patapouf {
    width: 50%;
    height: auto;
    max-width: 512px;
}
.presentation__texte {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presentation__texte--center {
    text-align: justify;
    line-height: 1.5rem;
}
