.sleepingroom {
    width: 95vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sleepingroom img {
    display: block;
    width: 624px;
    height: 624px;
}