.countdown {
    font-weight: bold;
    font-size: 2rem;
    color: var(--tertiary);
}
.indication {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 0rem;
    text-align: center;
}
.clues {
    font-weight: bold;
    font-size: 1rem;
    padding-top: 2rem;
    text-align: center;
}