.container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    width: 50%;
}
.item {
    height: 5.5%;
    padding: 0.5rem;
    margin-bottom: 0rem;
    background-color: var(--secondary);
    border: 0.15rem solid var(--tertiary);
    cursor: url(/imgs/catPaw-yellow.png), auto;
}
.item:active {
    cursor: url(/imgs/catPaw-yellow.png), auto;
}
.indice3 {
    width: 100%;
    height: 10rem;
    border: 0.25rem solid var(--secondary);
    margin: 0.10rem;
    padding: 0.10rem;
    background-image: url(/imgs/Indice3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}
.indice4 {
    width: 100%;
    height: 10rem;
    border: 0.25rem solid var(--secondary);
    margin: 0.10rem;
    padding: 0.10rem;
    background-image: url(/imgs/Indice4.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}
.indice5 {
    width: 100%;
    height: 10rem;
    border: 0.25rem solid var(--secondary);
    margin: 0.10rem;
    padding: 0.10rem;
    background-image: url(/imgs/Indice5.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}
.empty {
    width: 100%;
    height: 10rem;
    border: 0.25rem solid var(--secondary);
    margin: 0.10rem;
    padding: 0.10rem;
    background-image: url(/imgs/Empty.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}