
.room {
    display: flex;
    flex-direction: row;
}
.roomAside {
    border-right: 0.25rem solid var(--secondary);
}
.roomNav {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 0rem 1rem 0rem 0rem;
    margin: auto;
}
.roomNav--link {
    padding: 0 0 0.10rem 0;
}
.roomNav--link:hover {
    padding: 0 0 0.10rem 0;
    cursor: url(/catPaw-green.png), auto;
}
.roomNav--indication {
    padding: 0.5rem 0 0.5rem 0; 
    font-weight: bold;
}
.roomMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.roomIndications {
    height: 2vh;
    padding: 0 0 0 0;
    color: var(--primary);
    font-size: 1rem;
    font-weight: bold;
}
.roomHeader {
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.roomPlayzone {
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.roomPlayzoneImgFrame {
    padding: 2rem 0 0 0;
}
.roomPlayzone img {
    display: block;
    width: 524px;
    height: 524px;
}
area:hover {
    cursor: url(/catPaw-yellow.png), auto;
}
.onMouseEnter {
    height: 2vh;
    display: block;
}
.onMouseEnter__p {
    text-align: center;
    color: var(--tertiary);
    font-weight: bold;
    font-size: 1rem;
}