
.room {
    display: flex;
    flex-direction: column;
}
.roomAside {
    border-bottom: 0.15rem solid var(--secondary);
}
.roomNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 0.5rem 0;
    margin: auto;
}
.roomNav--link {
    padding: 0 1rem 0 1rem;
}
.roomNav--link:hover {
    cursor: url(/catPaw-green.png), auto;
}
/*.roomNav--indication {
    padding: 0.5rem 0 0.5rem 0; 
    font-weight: bold;
}*/
.roomMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.roomIndications {
    height: 2vh;
    padding: 0.5rem 0 0 0;
    color: var(--primary);
    font-size: 1rem;
    font-weight: bold;
}
.roomHeader {
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.roomPlayzone {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.roomPlayzoneImgFrame {
    padding: 1rem 0 0 0;
}
.roomPlayzone img {
    display: block;
    width: 524px;
    height: 524px;
}
area:hover {
    cursor: url(/catPaw-yellow.png), auto;
}
.onMouseEnter {
    height: 2vh;
    display: block;
}
.onMouseEnter__p {
    text-align: center;
    color: var(--tertiary);
    font-weight: bold;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .roomPlayzoneImgFrame {
        padding: 6rem 0 0 0;
    }
}