.closeBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    width: 95vw;
}
.imgClue{
    width: 50%;
    height: auto;
    padding-top: 1rem;
}