.closeBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 6vh;
    width: 92vw;
}
.imgClue{
    width: 25rem;
    height: auto;
    padding-top: 1rem;
}