*{
    margin: 0.15rem;
    padding: 0;
}
:root {
    --primary-bg-color: #182534;
    --primary: #FFFFFF;
    --secondary: #1DD2AF;
    --tertiary: #ffff00;
}
body {
    background-color: var(--primary-bg-color);
    color: var(--primary);
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
    cursor: url(/catPaw-green.png), auto;
}
a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: var(--tertiary);
    text-decoration: none;
    font-weight: bold;
}