*{
    margin: 0.15rem;
    padding: 0;
}
:root {
    --primary-bg-color: #182534;
    --primary: #FFFFFF;
    --secondary: #1DD2AF;
    --tertiary: #ffff00;
}
body {
    background-color: var(--primary-bg-color);
    color: var(--primary);
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 85vh;
    cursor: url(/catPaw-green.png), auto;
}
a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: var(--tertiary);
    text-decoration: none;
    font-weight: bold;
}
.notCompatible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notCompatible--txt {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary);
    text-align: center;
}
.notCompatible--img {
    max-width: 15rem;
    height: auto;
    margin: 1rem auto;
}
.highlight {
    color: var(--secondary);
    font-weight: bold;
}
.generalBtn {
    background-color: var(--primary-bg-color);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 16rem;
    border: 0.15rem solid var(--secondary);
    color: var(--secondary);
    cursor: url(/catPaw-green.png), auto;
    text-align: center;
}
.generalBtn:hover {
    border: 0.15rem solid var(--tertiary);
    color: var(--tertiary);
    cursor: url(/catPaw-yellow.png), auto;
}
.imgMini {
    width: 400px;
    height: 400px;
    padding-bottom: 2rem;
}
.rooms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.roomTitle {
    padding-bottom: 2rem;
}
@media (max-width: 720px) {
    .rooms {
        flex-direction: column;
    }
}