.img404 {
    width: 25%;
    height: auto;
}
.btn404 {
    background-color: var(--primary-bg-color);
    margin-top: 1rem;
    padding: 0.25rem;
    width: 12rem;
    border: 0.15rem solid var(--secondary);
    border-radius: 5rem;
    color: var(--secondary);
    cursor: url(/catPaw-green.png), auto;
}
.btn404:hover {
    border: 0.15rem solid var(--tertiary);
    color: var(--tertiary);
    cursor: url(/catPaw-yellow.png), auto;
}